(
    bboxes: [
        (
            center: (0.0, 0.0, 0.0),
            half_sizes: (2.4196918, 2.949683, 4.890959),
        ),
    ],
    model_path: "./assets/models/2x1.glb",
    connectors: [
        (
            side_a: true,
            axis: Y,
            connect_type: 0,
            position: (0.0, 3.0, -2.5),
        ),
        (
            side_a: true,
            axis: Y,
            connect_type: 0,
            position: (0.0, 3.0, 2.5),
        ),
        (
            side_a: false,
            axis: Y,
            connect_type: 0,
            position: (0.0, -3.0, -2.5),
        ),
        (
            side_a: false,
            axis: Y,
            connect_type: 0,
            position: (0.0, -3.0, 2.5),
        ),
    ],
    invar_x: None,
    invar_y: Some(2),
    invar_z: None,
)