(
    bboxes: [
        (
            center: (0.0, 0.0, 0.0),
            half_sizes: (1.0, 1.0, 1.0),
        ),
    ],
    model_path: "./assets/models/2x1_slanted.glb",
    connectors: [
        (
            side_a: true,
            axis: Y,
            connect_type: 0,
            position: (0.0, 3.0, -2.5),
        ),
        (
            side_a: false,
            axis: Y,
            connect_type: 0,
            position: (0.0, -3.0, -2.5),
        ),
        (
            side_a: false,
            axis: Y,
            connect_type: 0,
            position: (0.0, -3.0, 2.5),
        ),
    ],
)