(
    bboxes: [
        (
            center: (0.0, 0.0, 0.0),
            half_sizes: (4.856887, 2.94032, 4.880579),
        ),
    ],
    model_path: "./models/2x2.glb",
    connectors: [
        (
            side_a: true,
            axis: Y,
            connect_type: 0,
            position: (2.5, 3.0, -2.5),
        ),
        (
            side_a: true,
            axis: Y,
            connect_type: 0,
            position: (2.5, 3.0, 2.5),
        ),
        (
            side_a: true,
            axis: Y,
            connect_type: 0,
            position: (-2.5, 3.0, -2.5),
        ),
        (
            side_a: true,
            axis: Y,
            connect_type: 0,
            position: (-2.5, 3.0, 2.5),
        ),
        (
            side_a: false,
            axis: Y,
            connect_type: 0,
            position: (2.5, -3.0000002, 2.5),
        ),
        (
            side_a: false,
            axis: Y,
            connect_type: 0,
            position: (2.5, -2.9999998, -2.5),
        ),
        (
            side_a: false,
            axis: Y,
            connect_type: 0,
            position: (-2.5, -3.0000002, 2.5),
        ),
        (
            side_a: false,
            axis: Y,
            connect_type: 0,
            position: (-2.5, -2.9999998, -2.5),
        ),
    ],
)